* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.nav-logo {
    width: 270px;
    height: 110px;
    margin-left: 50px;
    cursor: pointer;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
}

.nav-bar {
    display: flex;
    align-items: center;
    margin-right: 6rem;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    margin: 17px;
    font-size: 33px;
    list-style: none;
    color: black;
    font-weight: 700;
}

li:hover {
    color:#53bda4;
    font-weight: 900;
}

.home {
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.intro {
    width: 600px;
    height: 650px;
    padding-top: 100px;
    text-align: center;
    border: 2px solid #53bda4;
    border-radius: 18px;
}

.intro-img {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-title {
    font-size: 65px;
}

.p-intro {
    font-size: 21px;
    margin: 50px;
}

.sueños {
    background-color: #53bda4;
    color: rgb(237, 237, 237);
    padding: 10px;
    border-radius: 18px;
}

.img-home {
    width: 700px;
    height: 500px;
    border-radius: 15px;
}


.about-title {
    text-align: center;
    font-size: 55px;
}

.about-section {
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.about-intro {
    width: 600px;
    height: 650px;
    padding-top: 100px;
    text-align: center;
    border: 2px solid #53bda4;
    border-radius: 18px;
}

.about-img {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-about {
    width: 700px;
    height: 500px;
    border-radius: 15px;
}